USE [master]
GO
/****** Object:  Database [Cogitare]    Script Date: 04/09/2025 18:49:23 ******/
CREATE DATABASE [Cogitare]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cogitare', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cogitare.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cogitare_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cogitare_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cogitare].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cogitare]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[IdAdministrador] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[Senha] [varchar](255) NULL,
	[Tipo] [varchar](100) NOT NULL,
	[UltimoAcesso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdministrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Atendimento]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atendimento](
	[IdAtendimento] [int] IDENTITY(1,1) NOT NULL,
	[IdResponsavel] [int] NULL,
	[IdCuidador] [int] NULL,
	[IdIdoso] [int] NULL,
	[DataInicio] [datetime] NULL,
	[DataFim] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[Local] [varchar](255) NULL,
	[Valor] [decimal](10, 2) NULL,
	[ObservacaoExtra] [varchar](max) NULL,
	[DataCriacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAtendimento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avaliacao]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avaliacao](
	[IdAvaliacao] [int] IDENTITY(1,1) NOT NULL,
	[IdResponsavel] [int] NULL,
	[IdCuidador] [int] NULL,
	[IdAtendimento] [int] NULL,
	[Nota] [int] NULL,
	[Comentario] [varchar](max) NULL,
	[DataAvaliacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAvaliacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificado]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificado](
	[IdCertificado] [int] IDENTITY(1,1) NOT NULL,
	[IdCuidador] [int] NULL,
	[Descricao] [varchar](max) NULL,
	[UrlCertificado] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCertificado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[IdChat] [int] IDENTITY(1,1) NOT NULL,
	[IdCuidador] [int] NULL,
	[IdResponsavel] [int] NULL,
	[DataCriacao] [datetime] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdChat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuidador]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuidador](
	[IdCuidador] [int] IDENTITY(1,1) NOT NULL,
	[IdEndereco] [int] NULL,
	[Cpf] [varchar](20) NULL,
	[Nome] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Telefone] [varchar](20) NULL,
	[Senha] [varchar](100) NULL,
	[DataNascimento] [date] NULL,
	[FotoUrl] [varchar](255) NULL,
	[Biografia] [varchar](max) NULL,
	[Fumante] [varchar](3) NULL,
	[TemFilhos] [varchar](3) NULL,
	[PossuiCNH] [varchar](3) NULL,
	[TemCarro] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCuidador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuidadorEspecialidade]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuidadorEspecialidade](
	[IdCuidadorEspecialidade] [int] IDENTITY(1,1) NOT NULL,
	[IdCuidador] [int] NULL,
	[IdEspecialidade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCuidadorEspecialidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuidadorServico]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuidadorServico](
	[IdCuidadorServico] [int] IDENTITY(1,1) NOT NULL,
	[IdCuidador] [int] NULL,
	[IdServico] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCuidadorServico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disponibilidade]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disponibilidade](
	[IdDisponibilidade] [int] IDENTITY(1,1) NOT NULL,
	[IdCuidador] [int] NULL,
	[DiaSemana] [varchar](20) NULL,
	[DataInicio] [datetime] NULL,
	[DataFim] [datetime] NULL,
	[Observacoes] [varchar](max) NULL,
	[Recorrente] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDisponibilidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doenca]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doenca](
	[IdDoenca] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[Descricao] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDoenca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Endereco]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endereco](
	[IdEndereco] [int] IDENTITY(1,1) NOT NULL,
	[Cidade] [varchar](100) NULL,
	[Bairro] [varchar](100) NULL,
	[Rua] [varchar](100) NULL,
	[Numero] [varchar](20) NULL,
	[Complemento] [varchar](100) NULL,
	[Cep] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEndereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidade]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidade](
	[IdEspecialidade] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[Descricao] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecialidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experiencia]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experiencia](
	[IdExperiencia] [int] IDENTITY(1,1) NOT NULL,
	[IdCuidador] [int] NULL,
	[Descricao] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdExperiencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formacao]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formacao](
	[IdFormacao] [int] IDENTITY(1,1) NOT NULL,
	[IdCuidador] [int] NULL,
	[Descricao] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFormacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricoAdministrador]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoAdministrador](
	[IdHistoricoAdm] [int] IDENTITY(1,1) NOT NULL,
	[IdAdministrador] [int] NULL,
	[Operacao] [varchar](255) NOT NULL,
	[DataOperacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistoricoAdm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricoAtendimento]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoAtendimento](
	[IdHistorico] [int] IDENTITY(1,1) NOT NULL,
	[IdAtendimento] [int] NULL,
	[StatusFinal] [varchar](20) NULL,
	[DataRegistro] [datetime] NULL,
	[Observacoes] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricoCuidador]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoCuidador](
	[IdHistoricoCuidador] [int] IDENTITY(1,1) NOT NULL,
	[IdCuidador] [int] NULL,
	[Operacao] [varchar](255) NOT NULL,
	[DataOperacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistoricoCuidador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricoResponsavel]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoResponsavel](
	[IdHistoricoResponsavel] [int] IDENTITY(1,1) NOT NULL,
	[IdResponsavel] [int] NULL,
	[Operacao] [varchar](255) NOT NULL,
	[DataOperacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistoricoResponsavel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idoso]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idoso](
	[IdIdoso] [int] IDENTITY(1,1) NOT NULL,
	[IdResponsavel] [int] NULL,
	[IdMobilidade] [int] NULL,
	[IdNivelAutonomia] [int] NULL,
	[Nome] [varchar](100) NULL,
	[DataNascimento] [date] NULL,
	[Sexo] [varchar](20) NULL,
	[CuidadosMedicos] [varchar](max) NULL,
	[DescricaoExtra] [varchar](max) NULL,
	[FotoUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdoso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdosoDoenca]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdosoDoenca](
	[IdIdosoDoenca] [int] IDENTITY(1,1) NOT NULL,
	[IdIdoso] [int] NULL,
	[IdDoenca] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdosoDoenca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IdosoRestricaoAlimentar]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdosoRestricaoAlimentar](
	[IdIdosoRestricaoAlimentar] [int] IDENTITY(1,1) NOT NULL,
	[IdIdoso] [int] NULL,
	[IdRestricaoAlimentar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIdosoRestricaoAlimentar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensagem]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensagem](
	[IdMensagem] [int] IDENTITY(1,1) NOT NULL,
	[IdChat] [int] NULL,
	[IdRemetente] [int] NULL,
	[RemetenteTipo] [varchar](20) NULL,
	[Conteudo] [varchar](max) NULL,
	[DataEnvio] [datetime] NULL,
	[Lida] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMensagem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mobilidade]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mobilidade](
	[IdMobilidade] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMobilidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelAutonomia]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelAutonomia](
	[IdNivelAutonomia] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNivelAutonomia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagamento]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamento](
	[IdPagamento] [int] IDENTITY(1,1) NOT NULL,
	[IdAtendimento] [int] NULL,
	[MetodoPagamento] [varchar](20) NULL,
	[StatusPagamento] [varchar](20) NULL,
	[DataPagamento] [datetime] NULL,
	[CodigoTransacao] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroProfissional]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroProfissional](
	[IdRegistro] [int] IDENTITY(1,1) NOT NULL,
	[IdCuidador] [int] NULL,
	[RegistroCRM] [varchar](50) NULL,
	[RegistroCREFITO] [varchar](50) NULL,
	[RegistroCOREN] [varchar](50) NULL,
	[RegistroCRP] [varchar](50) NULL,
	[DataRegistro] [date] NOT NULL,
	[StatusRegistro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRegistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Responsavel]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responsavel](
	[IdResponsavel] [int] IDENTITY(1,1) NOT NULL,
	[IdEndereco] [int] NULL,
	[Cpf] [varchar](20) NULL,
	[Nome] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Telefone] [varchar](20) NULL,
	[DataNascimento] [date] NULL,
	[FotoUrl] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdResponsavel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestricaoAlimentar]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestricaoAlimentar](
	[IdRestricaoAlimentar] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRestricaoAlimentar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servico]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servico](
	[IdServico] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[Descricao] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdServico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrador] ADD  DEFAULT (getdate()) FOR [UltimoAcesso]
GO
ALTER TABLE [dbo].[Atendimento] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Avaliacao] ADD  DEFAULT (getdate()) FOR [DataAvaliacao]
GO
ALTER TABLE [dbo].[Chat] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Cuidador] ADD  DEFAULT ('Não') FOR [Fumante]
GO
ALTER TABLE [dbo].[Cuidador] ADD  DEFAULT ('Não') FOR [TemFilhos]
GO
ALTER TABLE [dbo].[Cuidador] ADD  DEFAULT ('Não') FOR [PossuiCNH]
GO
ALTER TABLE [dbo].[Cuidador] ADD  DEFAULT ('Não') FOR [TemCarro]
GO
ALTER TABLE [dbo].[HistoricoAdministrador] ADD  DEFAULT (getdate()) FOR [DataOperacao]
GO
ALTER TABLE [dbo].[HistoricoAtendimento] ADD  DEFAULT (getdate()) FOR [DataRegistro]
GO
ALTER TABLE [dbo].[HistoricoCuidador] ADD  DEFAULT (getdate()) FOR [DataOperacao]
GO
ALTER TABLE [dbo].[HistoricoResponsavel] ADD  DEFAULT (getdate()) FOR [DataOperacao]
GO
ALTER TABLE [dbo].[Mensagem] ADD  DEFAULT (getdate()) FOR [DataEnvio]
GO
ALTER TABLE [dbo].[Pagamento] ADD  DEFAULT (getdate()) FOR [DataPagamento]
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD FOREIGN KEY([IdResponsavel])
REFERENCES [dbo].[Responsavel] ([IdResponsavel])
GO
ALTER TABLE [dbo].[Atendimento]  WITH CHECK ADD  CONSTRAINT [FK_Atendimento_Idoso] FOREIGN KEY([IdIdoso])
REFERENCES [dbo].[Idoso] ([IdIdoso])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Atendimento] CHECK CONSTRAINT [FK_Atendimento_Idoso]
GO
ALTER TABLE [dbo].[Avaliacao]  WITH CHECK ADD FOREIGN KEY([IdAtendimento])
REFERENCES [dbo].[Atendimento] ([IdAtendimento])
GO
ALTER TABLE [dbo].[Avaliacao]  WITH CHECK ADD FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[Avaliacao]  WITH CHECK ADD FOREIGN KEY([IdResponsavel])
REFERENCES [dbo].[Responsavel] ([IdResponsavel])
GO
ALTER TABLE [dbo].[Certificado]  WITH CHECK ADD FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD FOREIGN KEY([IdResponsavel])
REFERENCES [dbo].[Responsavel] ([IdResponsavel])
GO
ALTER TABLE [dbo].[Cuidador]  WITH CHECK ADD FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Endereco] ([IdEndereco])
GO
ALTER TABLE [dbo].[CuidadorEspecialidade]  WITH CHECK ADD FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[CuidadorEspecialidade]  WITH CHECK ADD FOREIGN KEY([IdEspecialidade])
REFERENCES [dbo].[Especialidade] ([IdEspecialidade])
GO
ALTER TABLE [dbo].[CuidadorServico]  WITH CHECK ADD FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[CuidadorServico]  WITH CHECK ADD FOREIGN KEY([IdServico])
REFERENCES [dbo].[Servico] ([IdServico])
GO
ALTER TABLE [dbo].[Disponibilidade]  WITH CHECK ADD FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[Experiencia]  WITH CHECK ADD FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[Formacao]  WITH CHECK ADD FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[HistoricoAdministrador]  WITH CHECK ADD FOREIGN KEY([IdAdministrador])
REFERENCES [dbo].[Administrador] ([IdAdministrador])
GO
ALTER TABLE [dbo].[HistoricoAtendimento]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoAtendimento_Atendimento] FOREIGN KEY([IdAtendimento])
REFERENCES [dbo].[Atendimento] ([IdAtendimento])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoricoAtendimento] CHECK CONSTRAINT [FK_HistoricoAtendimento_Atendimento]
GO
ALTER TABLE [dbo].[HistoricoCuidador]  WITH CHECK ADD FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[HistoricoResponsavel]  WITH CHECK ADD FOREIGN KEY([IdResponsavel])
REFERENCES [dbo].[Responsavel] ([IdResponsavel])
GO
ALTER TABLE [dbo].[Idoso]  WITH CHECK ADD FOREIGN KEY([IdMobilidade])
REFERENCES [dbo].[Mobilidade] ([IdMobilidade])
GO
ALTER TABLE [dbo].[Idoso]  WITH CHECK ADD FOREIGN KEY([IdNivelAutonomia])
REFERENCES [dbo].[NivelAutonomia] ([IdNivelAutonomia])
GO
ALTER TABLE [dbo].[Idoso]  WITH CHECK ADD FOREIGN KEY([IdResponsavel])
REFERENCES [dbo].[Responsavel] ([IdResponsavel])
GO
ALTER TABLE [dbo].[IdosoDoenca]  WITH CHECK ADD FOREIGN KEY([IdDoenca])
REFERENCES [dbo].[Doenca] ([IdDoenca])
GO
ALTER TABLE [dbo].[IdosoDoenca]  WITH CHECK ADD  CONSTRAINT [FK_IdosoDoenca_Idoso] FOREIGN KEY([IdIdoso])
REFERENCES [dbo].[Idoso] ([IdIdoso])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdosoDoenca] CHECK CONSTRAINT [FK_IdosoDoenca_Idoso]
GO
ALTER TABLE [dbo].[IdosoRestricaoAlimentar]  WITH CHECK ADD FOREIGN KEY([IdRestricaoAlimentar])
REFERENCES [dbo].[RestricaoAlimentar] ([IdRestricaoAlimentar])
GO
ALTER TABLE [dbo].[IdosoRestricaoAlimentar]  WITH CHECK ADD  CONSTRAINT [FK_IdosoRestricaoAlimentar_Idoso] FOREIGN KEY([IdIdoso])
REFERENCES [dbo].[Idoso] ([IdIdoso])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdosoRestricaoAlimentar] CHECK CONSTRAINT [FK_IdosoRestricaoAlimentar_Idoso]
GO
ALTER TABLE [dbo].[Mensagem]  WITH CHECK ADD FOREIGN KEY([IdChat])
REFERENCES [dbo].[Chat] ([IdChat])
GO
ALTER TABLE [dbo].[Pagamento]  WITH CHECK ADD FOREIGN KEY([IdAtendimento])
REFERENCES [dbo].[Atendimento] ([IdAtendimento])
GO
ALTER TABLE [dbo].[RegistroProfissional]  WITH CHECK ADD  CONSTRAINT [FK_Cuidador] FOREIGN KEY([IdCuidador])
REFERENCES [dbo].[Cuidador] ([IdCuidador])
GO
ALTER TABLE [dbo].[RegistroProfissional] CHECK CONSTRAINT [FK_Cuidador]
GO
ALTER TABLE [dbo].[Responsavel]  WITH CHECK ADD FOREIGN KEY([IdEndereco])
REFERENCES [dbo].[Endereco] ([IdEndereco])
GO
ALTER TABLE [dbo].[Administrador]  WITH CHECK ADD CHECK  (([Tipo]='Gestor de Historico' OR [Tipo]='Gestor de Usuarios' OR [Tipo]='Suporte help-desk' OR [Tipo]='Gestor Financeiro' OR [Tipo]='Admistrador'))
GO
ALTER TABLE [dbo].[Cuidador]  WITH CHECK ADD CHECK  (([Fumante]='Não' OR [Fumante]='Sim'))
GO
ALTER TABLE [dbo].[Cuidador]  WITH CHECK ADD CHECK  (([PossuiCNH]='Não' OR [PossuiCNH]='Sim'))
GO
ALTER TABLE [dbo].[Cuidador]  WITH CHECK ADD CHECK  (([TemCarro]='Não' OR [TemCarro]='Sim'))
GO
ALTER TABLE [dbo].[Cuidador]  WITH CHECK ADD CHECK  (([TemFilhos]='Não' OR [TemFilhos]='Sim'))
GO
ALTER TABLE [dbo].[RegistroProfissional]  WITH CHECK ADD CHECK  (([StatusRegistro]='Inativo' OR [StatusRegistro]='Ativo'))
GO
/****** Object:  StoredProcedure [dbo].[AtualizarIdoso]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AtualizarIdoso](
    @IdIdoso INT,
    @IdResponsavel INT,
    @IdMobilidade INT,
    @IdNivelAutonomia INT,
    @Nome VARCHAR(100),
    @DataNascimento DATE,
    @Sexo VARCHAR(10),
    @CuidadosMedicos TEXT,
    @DescricaoExtra TEXT,
    @FotoUrl VARCHAR(255)
	)
AS
BEGIN
    UPDATE Idoso
    SET IdResponsavel = @IdResponsavel,
        IdMobilidade = @IdMobilidade,
        IdNivelAutonomia = @IdNivelAutonomia,
        Nome = @Nome,
        DataNascimento = @DataNascimento,
        Sexo = @Sexo,
        CuidadosMedicos = @CuidadosMedicos,
        DescricaoExtra = @DescricaoExtra,
        FotoUrl = @FotoUrl
    WHERE IdIdoso = @IdIdoso;
END;
GO
/****** Object:  StoredProcedure [dbo].[ExcluirIdoso]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ExcluirIdoso]
    @IdIdoso INT
AS
BEGIN
    DELETE FROM Idoso WHERE IdIdoso = @IdIdoso;
END;
GO
/****** Object:  StoredProcedure [dbo].[InserirIdoso]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[InserirIdoso](
    @IdResponsavel INT,
    @IdMobilidade INT,
    @IdNivelAutonomia INT,
    @Nome VARCHAR(100),
    @DataNascimento DATE,
    @Sexo VARCHAR(10),
    @CuidadosMedicos TEXT,
    @DescricaoExtra TEXT,
    @FotoUrl VARCHAR(255)
	)
AS
BEGIN
    INSERT INTO Idoso (IdResponsavel, IdMobilidade, IdNivelAutonomia, Nome, DataNascimento, Sexo, CuidadosMedicos, DescricaoExtra, FotoUrl)
    VALUES (@IdResponsavel, @IdMobilidade, @IdNivelAutonomia, @Nome, @DataNascimento, @Sexo, @CuidadosMedicos, @DescricaoExtra, @FotoUrl);
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarIdosos]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ListarIdosos]
AS
BEGIN
    SELECT * FROM Idoso;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AtualizarIdoso]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AtualizarIdoso]
    @IdIdoso INT,
    @IdResponsavel INT,
    @IdMobilidade INT,
    @IdNivelAutonomia INT,
    @Nome NVARCHAR(100),
    @DataNascimento DATE,
    @Sexo NVARCHAR(10),
    @CuidadosMedicos NVARCHAR(MAX),
    @DescricaoExtra NVARCHAR(MAX),
    @FotoUrl NVARCHAR(MAX),
    @IdAdministrador INT
AS
BEGIN
    -- Atualizar o idoso
    UPDATE Idoso
    SET 
        IdResponsavel = @IdResponsavel,
        IdMobilidade = @IdMobilidade,
        IdNivelAutonomia = @IdNivelAutonomia,
        Nome = @Nome,
        DataNascimento = @DataNascimento,
        Sexo = @Sexo,
        CuidadosMedicos = @CuidadosMedicos,
        DescricaoExtra = @DescricaoExtra,
        FotoUrl = @FotoUrl
    WHERE IdIdoso = @IdIdoso;

    -- Inserir no histórico do administrador
    INSERT INTO HistoricoAdministrador (IdAdministrador, Operacao, DataOperacao)
    VALUES (
        @IdAdministrador,
        CONCAT('Idoso ', @Nome, ' (ID ', @IdIdoso, ') alterado.'),
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CriarIdoso]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Inserir novo idoso
CREATE   PROCEDURE [dbo].[sp_CriarIdoso]
    @IdResponsavel INT,
    @IdMobilidade INT,
    @IdNivelAutonomia INT,
    @Nome NVARCHAR(100),
    @DataNascimento DATE,
    @Sexo NVARCHAR(10),
    @CuidadosMedicos NVARCHAR(MAX),
    @DescricaoExtra NVARCHAR(MAX),
    @FotoUrl NVARCHAR(MAX),
    @IdAdministrador INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Inserir o idoso
    INSERT INTO Idoso (IdResponsavel, IdMobilidade, IdNivelAutonomia, Nome, DataNascimento, Sexo, CuidadosMedicos, DescricaoExtra, FotoUrl)
    VALUES (@IdResponsavel, @IdMobilidade, @IdNivelAutonomia, @Nome, @DataNascimento, @Sexo, @CuidadosMedicos, @DescricaoExtra, @FotoUrl);

    -- 2. Recuperar o ID gerado
    DECLARE @NovoIdIdoso INT = SCOPE_IDENTITY();

    -- 3. Inserir no histórico do administrador
    INSERT INTO HistoricoAdministrador (IdAdministrador, Operacao, DataOperacao)
    VALUES (@IdAdministrador, CONCAT('Idoso ', @Nome, ' (ID ', @NovoIdIdoso, ') criado.'), GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ExcluirIdoso]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Excluir idoso
CREATE PROCEDURE [dbo].[sp_ExcluirIdoso]
    @IdIdoso INT
AS
BEGIN
    DELETE FROM Idoso WHERE IdIdoso = @IdIdoso;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarHistoricoAtendimentos]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarHistoricoAtendimentos]
AS
BEGIN
    SELECT
        HA.IdHistorico,
        HA.idAtendimento,
        I.Nome AS NomeIdoso,          -- Nome do Idoso
        HA.DataRegistro,              -- Data de registro do histórico      
        C.Nome AS NomeProfissional,   -- Nome do Profissional
        HA.StatusFinal,
        HA.Observacoes
    FROM
        HistoricoAtendimento AS HA
    INNER JOIN
        Atendimento AS A ON HA.IdAtendimento = A.IdAtendimento
    INNER JOIN
        Idoso AS I ON A.IdIdoso = I.IdIdoso
    INNER JOIN
      Cuidador AS C ON A.IdCuidador = C.IdCuidador
    ORDER BY
        HA.DataRegistro DESC; -- Ordena do mais recente para o mais antigo
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarIdosos]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarIdosos]
AS
BEGIN
    SELECT * FROM Idoso;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMobilidade]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarMobilidade]
AS
BEGIN
    SELECT *FROM Mobilidade
    ORDER BY Descricao;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarNivelAutonomia]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarNivelAutonomia]
AS
BEGIN
    SELECT *FROM NivelAutonomia
    ORDER BY Descricao;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarResponsavel]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarResponsavel]
AS
BEGIN
    SELECT *FROM Responsavel
    ORDER BY nome;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Login_Administrador]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Login_Administrador]
    @Usuario VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdAdministrador INT;

    -- Recupera o IdAdministrador com base no usuário
    SELECT TOP 1
        @IdAdministrador = IdAdministrador
    FROM Administrador
    WHERE Usuario = @Usuario;

    IF @IdAdministrador IS NOT NULL
    BEGIN
        -- Atualiza o campo UltimoAcesso
        UPDATE Administrador
        SET UltimoAcesso = GETDATE()
        WHERE IdAdministrador = @IdAdministrador;

        -- Insere histórico da operação de login
        INSERT INTO HistoricoAdministrador (IdAdministrador, Operacao)
        VALUES (@IdAdministrador, 'Login');
    END;

    -- Retorna os dados do administrador
    SELECT TOP 1
        IdAdministrador,
        Usuario,
        Senha,
        Tipo,
        UltimoAcesso
    FROM Administrador
    WHERE Usuario = @Usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Logout_Administrador]    Script Date: 04/09/2025 18:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Logout_Administrador]
    @IdAdministrador INT
AS
BEGIN
    -- Insere um registro no histórico
    INSERT INTO HistoricoAdministrador (IdAdministrador, Operacao, DataOperacao)
    VALUES (@IdAdministrador, 'Logout', GETDATE());
END;
GO
USE [master]
GO
