/* Geral */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #f4f7fc;
  color: #333;
}

/* Header da main */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  border-radius: 1rem;
  margin-left: 15rem;
  transition: margin-left 0.2s ease-in-out;
}

.header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 1rem;
  transition: margin-left 0.2s ease-in-out;
}

.search-input {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
}

/* Tabela */
.table-container {
  padding-top: 2rem;
  overflow-x: auto;
  margin-left: 15rem; /* afastando do sidebar */
  transition: margin-left 0.2s ease-in-out;

}

body.collapsed .table-container {
  margin-left: 5rem; /* espaço para sidebar colapsada */
}

body.collapsed .header {
  margin-left: 5rem; /* espaço para sidebar colapsada */
}

body.collapsed .header h1{
  margin-left: 1rem; /* espaço para sidebar colapsada */
}

.atendimento-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.atendimento-table th,
.atendimento-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.atendimento-table td[data-label]::before {
  content: attr(data-label) ": ";
  font-weight: 600;
  display: none; /* para mobile, pode ativar depois */
}

.status {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.9rem;
}

.status-concluido {
  background-color: #d1f7d6;
  color: #24732d;
}

/* Botão de detalhes */
.btn-detalhes {
  background-color: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.btn-detalhes:hover {
  background-color: #4338ca;
}
