<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cogitare - Login Administrador</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/login.js"></script>
    <link rel="shortcut icon" href="/imagens/logotipoCogitareSemFundo.png" type="image/x-icon">
</head>

<body>
    <div>
        <h1>Bem-vindo(a)</h1>
        <img src="/imagens/logotipoCogitareSemFundo.png" alt="Logotipo Cogitare" class="logo">
        <form onsubmit="verificaUsuario(event)">
            <label for="usuario">Usuário</label><br>
            <input type="text" id="usuario" name="usuario" required><br><br>

            <label for="senha">Senha</label><br>
            <input type="password" id="senha" name="senha" autocomplete="current-password" data-kaspersky="false" required><br><br>

            <button type="submit">Entrar</button>
        </form>

    </div>
</body>

</html>